.App {
  text-align: center;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li {
  display: inline;
  padding: 8px;
  background-color: #dddddd;
}

.customText {
  font-size: 15px;
  text-align: center;
  margin: 40px;
  border: 1px solid blue;
  font-family: "Times New Roman", Times, serif;
}


